@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
body {
   background-color: black;
   font-family: "Poppins", sans-serif;
   background-image: url(Fundo/photo-1503951914875-452162b0f3f1.avif);
   background-repeat: no-repeat;
   background-size: cover;
}
header {
   padding: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.logo {
   width: 300px;
}
nav {
   padding: 20px;
   text-align: end;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
}
ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
li {
   list-style: none;
   padding: 0px 20px 0px 20px;
}
.nav-a {
   margin: 0px 20px 0px 20px;
   padding: 10px;
   position: relative;
   text-decoration: none;
   text-transform: uppercase;
   color: #ffbb00;
   font-weight: 600;
   font-size: 16px;
   transition: 0.3s color;
}
.nav-a {
   list-style: none;
}
.nav-a::after {
   content: "";
   position: absolute;
   background-color: #fff;
   height: 3px;
   left: 0px;
   bottom: 3px;
   transition: 0.3s ease-in-out;
   width: 0%;
   transition: 0;
}
.nav-a:hover::after {
   width: 100%;
}
.nav-a:hover {
   color: #ffffff;
}
main {
   width: 80%;
   margin: 0 auto;
   padding: 20px;
   text-align: center;
}
.container_2 {
   display: flex;
   justify-content: space-between;

   padding: 20px;
   background-color: #00000070;
   border-radius: 8px;
}
.cut {
   background-size: cover;
   max-height: 300px;
   border-radius: 5px;
   transition: 0.3s ease-in-out;
}
.cut:hover {
   transform: scale(1.05);
}
.h1-main {
   font-weight: 300;
   color: #ffbb00;
   font-weight: 500;
   padding: 20px;
}
.sobre-nos {
   padding: 40px 0px 40px 0px;
}
.sb-div {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0px 10px 0px 10px;
}
.sb-h1 {
   text-align: start;
   color: #ffbb00;
   font-weight: 500;
}
.sb-p {
   color: #fff;
   text-align: justify;
   width: 300px;
}
.sb-img {
   width: 700px;
   border-radius: 5px;
}
footer {
   background-color: #ffbb00;
   color: #fff;
   padding: 20px;
   text-align: center;
}
.footer-a {
   text-decoration: none;
   list-style: none;
   color: #fff;
}
::-webkit-scrollbar {
   width: 10px;
   background-color: #000000;
}
::-webkit-scrollbar-thumb {
   background-color: #424242;
   border-radius: 10px;
   border: #fff;
   border: 5px;
}
